.Farms img {
    width:40px;
    height: 40px;
}

.Farms .farmInfo {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.Farms .farmInfo:nth-child(2n) {
    background-color: rgb(180, 180, 180);
}