.Items {
    margin-top: 50px;
}

.Items button {
    border-radius: 10px;
    border-color:black;
    border-width:5px;
    margin:2px;
    background-color: grey;
    box-sizing: border-box;
}

.Items button:hover{
    background-color: white;
}

.Items button:disabled{
    border-color:yellow;
    background-image: linear-gradient(to bottom right, red, orange, yellow, green, blue)
}

.Items img {
    width: 80px;
}