.Items {
    max-width: 80%;
    margin: auto;
    margin-top: 50px;
}

.Items button {
    border-radius: 10px;
    border-color:black;
    border-width:5px;
    margin:2px;
    background-color: rgb(180, 180, 180);
    box-sizing: border-box;
    border-style: solid;
}

.Items button:hover{
    background-color: white; 
}

.Items button:disabled{
    border-color: yellow;
    background-image: linear-gradient(to bottom right, red, orange, yellow, green, blue, purple)
}

.Items img {
    width: 80px;
    max-width: 10vw;
}